<!DOCTYPE html>
<head>
    <title>hr</title>
    <link rel="stylesheet" href="hr.css"/>
    <style>
        body{
            display: flex;
            border : 1px solid black;
            height: 100vh;
            width : 100vw;
        }

    </style>
</head>
<body>
    <div className="services">
        <div className="textContainer">
            <p>
                I focus on helping your brand grow 
                <br/>and move forward
            </p>
            <hr/>
        </div>
        <div className="titleContainer">
            <div className="title">
                <img src="/people.webp" alt=""/>
                <h1><b>Unique</b>Ideas</h1>
            </div>
            <div className="title">
                <h1><b>For Your</b>Business</h1>
                <button>WHAT WE DO?</button>
            </div>
        </div>
        <div className="listContainer">
            <div className="box">
                <h2>Branding</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                    libero enim nisi aliquam consectetur expedita magni eius ex corrupti
                    animi! Ad nam pariatur assumenda quae mollitia libero repellat explicabo
                    mariores?
                </p>
                <button>Go</button>
            </div>
            <div className="box">
                <h2>Branding</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                    libero enim nisi aliquam consectetur expedita magni eius ex corrupti
                    animi! Ad nam pariatur assumenda quae mollitia libero repellat explicabo
                    mariores?
                </p>
                <button>Go</button>
            </div>
            <div className="box">
                <h2>Branding</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                    libero enim nisi aliquam consectetur expedita magni eius ex corrupti
                    animi! Ad nam pariatur assumenda quae mollitia libero repellat explicabo
                    mariores?
                </p>
                <button>Go</button>
            </div>
            <div className="box">
                <h2>Branding</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                    libero enim nisi aliquam consectetur expedita magni eius ex corrupti
                    animi! Ad nam pariatur assumenda quae mollitia libero repellat explicabo
                    mariores?
                </p>
                <button>Go</button>
            </div>
            <div className="box">
                <h2>Branding</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                    libero enim nisi aliquam consectetur expedita magni eius ex corrupti
                    animi! Ad nam pariatur assumenda quae mollitia libero repellat explicabo
                    mariores?
                </p>
                <button>Go</button>
            </div>
        </div>
    </div>

</body>
</html>