@import "../../app.scss";

.services{
    padding: 0;
    margin: 0;
    background : linear-gradient(180deg,#0c0c1d,#111132);
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    .textContainer{
        flex : 1;
        align-self: flex-end;
        display: flex;
        flex-direction: row; //extra
        align-items: center;
        justify-content: flex-end;//
        gap : 20px;

        @include mobile{
            flex : 0.4;
            flex-direction: column;
            margin-bottom: 15px;
        }

        p{
            font-weight : 200;
            font-size : 20px;
            color : gray;
            text-align: right;
            @include mobile{
                font-size: 15px;
                
            }
        }
        hr{
            width : 280px; //width : 500px;
            border : none;
            border-top : 0.5px solid gray;

            @include mobile{
                width: 240px;
            }
        }
    }
    .titleContainer{
        flex : 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile{
            width : 100%;
        }

        .title{
            display: flex;
            gap : 50px;
            align-items: center;

            @include mobile{
                flex-direction: column;
                text-align: center;
                gap : 20px;
            }
            img{
                width : 300px;
                height : 100px;
                border-radius: 50px;
                object-fit: cover;

                @include mobile{
                    width : 200px;
                    height : 50px;
                 }
            }
            h1{
                font-size: 96px;
                font-weight: 100;
                line-height: 7rem;//extra
                @include mobile{
                   font-size: 36px;
                   line-height:4rem;
                }
            }
            button{
                width : 300px;
                height: 100px;
                background-color: orange;
                border : none;
                border-radius : 50px;
                font-size : 24px;
                cursor : pointer;
                @include mobile{
                    font-size: 16px;
                    width : 150px;
                    height : 50px;
                 }
            }
        }

    }
    .listContainer{
        flex : 2;
        max-width : 1300px;
        display : flex;
        margin : auto;
        @include mobile{
          flex-direction: column;
          width : 100%;
         }
        .box{
            padding : 50px;//actual padding is 50px
            border : 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1rem;//extra
            @include mobile{
                align-items: center;
                gap :15px;
                border : none;
                padding : 20px 0 10px 0;
             }
            
            button{
                padding : 10px; //padding : 10px;
                background-color: orange;
                border : none;
                cursor : pointer;
                @include mobile{
                    background-color: transparent;
                    border : 1px solid orange;
                    color : orange;
                    border-radius : 5px;
                    width : 50%;
                    padding : 5px;
                 }
            }
            p{
                margin : 40px 0;
                @include mobile{
                    display: none;
                 }
            }
           
        }

    }
}